/* Variables */

:root {
  --bg-primary: hsl(0, 0%, 8%);
  --bg-secondary: hsl(0, 0%, 14%);
  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(0, 0%, 85%);
  --accent: hsl(153, 71%, 59%);
  --invalid: hsl(7, 100%, 68%);

  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-18: 1.125rem;

  --transition: 250ms ease-in-out;

  --container: 69.375rem;
}

/* Debugging */

/* * {
  outline: 2px solid red;
} */

/* Global */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: var(--bg-primary);
  font-size: var(--fs-18);
  font-weight: 500;
  line-height: 1.56;
  color: var(--fc-primary);
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
}

a {
  transition: color var(--transition);
}

a:focus-visible,
button:focus-visible {
  outline: 2px dashed var(--accent);
}

a.underline,
button.underline {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  color: var(--fc-primary);
  text-decoration: solid underline var(--accent) 2px;
  text-underline-offset: 16px;
}

a:hover,
button:hover {
  color: var(--accent);
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
}

input:invalid,
textarea:invalid {
}

img,
svg {
  display: block;
}

/* Typography */

body,
input,
textarea,
button {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: clamp(1rem, 0.8rem + 0.9vw, 1.125rem);
  line-height: 1.5;
  color: var(--fc-secondary);
}

.heading-xl {
  font-size: clamp(2.5rem, 0.7rem + 7.69vw, 5.5rem);
}

/*  Container */

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 37.5em) {
  /* 600px */
  h1 {
    letter-spacing: -0.03125em;
  }

  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

@media (min-width: 75em) {
  /* 1200px */
  h1 {
    letter-spacing: -0.0284em;
  }
}

/* Utility */

.bg-less-dark {
  background-color: var(--bg-secondary);
}

.border-line {
  border-bottom: 2px solid var(--fc-secondary);
}

/* Header */
.header {
  position: relative;
  z-index: 1;
  margin-block-start: 1.25rem;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.25rem 1.5625rem;
}

.header__home {
  flex: 1 0 100%;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--fc-primary);
}

.header__home > a {
  color: var(--fc-primary);
  text-decoration: none;
  transition: color var(--transition);
}

.header__home > a:hover {
  color: var(--accent);
}

.header__social svg path {
  transition: fill var(--transition);
}

.header__social:hover svg path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  /* 600px */
  .header {
    margin-block-start: 1.875rem;
    margin-block-end: 5.625rem;
  }

  .header__nav {
    justify-content: flex-start;
    text-align: left;
    gap: 2rem;
  }

  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }

  .header__social {
    align-self: center;
  }
}

@media (min-width: 75em) {
  /* 600px */
  .header {
    margin-block-start: 2.5rem;
    margin-block-end: 7.9375em;
  }

  .header__nav {
    padding-inline-end: 1.875rem;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Hero */

.hero__wrapper {
  padding-block-end: 5rem;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: auto;
  height: 23.9375rem;
}

.hero__rings {
  position: absolute;
  translate: -60% -230%;
  z-index: -1;
  width: 33.125rem;
  height: auto;
}

.hero__circle {
  position: absolute;
  top: 15.875rem;
  right: 0;
  translate: 50%;
  width: 8.0625rem;
  height: 8.0625rem;
}

.hero__text {
  position: relative;
  text-align: center;
  margin-block-start: 20.9375rem;
}

h1 > span {
  text-decoration: solid underline var(--accent) 4px;
}

.hero__headline {
  margin-block-end: 1.5rem;
}

.hero__headline > br {
  display: none;
}

.hero__description {
  margin-block-end: 1.5rem;
}

@media (min-width: 37.5em) {
  .hero__wrapper {
    padding-block-end: 3.75rem;
  }

  .hero__image {
    width: auto;
    height: 37.5rem;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero__rings {
    translate: -55% -50%;
  }

  .hero__circle {
    top: 29.25rem;
  }

  .hero__text {
    width: 62vw;
    text-align: left;
    margin-block-start: 0;
  }

  .hero__headline {
    margin-block-end: 3.75rem;
  }

  .hero__headline > br:nth-child(1) {
    display: inline-block;
  }

  .hero__headline > br:nth-child(2) {
    display: none;
  }

  .hero__description {
    margin-block-end: 2.125rem;
    width: 70%;
  }
}

@media (min-width: 75em) {
  .hero {
    margin-block-start: 0;
  }

  .hero__wrapper {
    position: relative;
    padding-block-end: 13.6875rem;
  }

  .hero__image {
    translate: 0 -13.4375rem;
    width: auto;
    height: 45rem;
  }

  .hero__rings {
    translate: -50% -50%;
  }

  .hero__circle {
    top: 20.125rem;
    right: 27.8125rem;
  }

  .hero__headline {
    margin-block-end: 2.6875rem;
  }

  .hero__headline > br:nth-child(1) {
    display: none;
  }

  .hero__headline > br:nth-child(2) {
    display: inline-block;
  }

  .hero__description {
    margin-block-end: 4.125rem;
    width: 38ch;
  }
}

/* Skills */

.skills {
  position: relative;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-block: 2.5rem;
}

.skills__item {
  text-align: center;
}

.skills__title {
  font-size: 2rem;
  font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
  line-height: 1.17;
  margin-block-end: 0.125rem;
}

.skills__description {
  margin-block-end: 0;
}

.skills__rings {
  position: absolute;
  right: 0;
  bottom: 0;
  translate: 60% 35%;
}

@media (min-width: 37.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.25rem 1.5rem;
    border: none;
    padding-block: 3.25rem 0;
  }

  .skills__item {
    text-align: left;
  }

  .skills__title {
    margin-block-end: 0.875rem;
  }

  .skills__rings {
    translate: 65% 50%;
  }
}

@media (min-width: 75em) {
  .skills__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.625rem 1.875rem;
    border: none;
    padding-block-start: 4.5rem;
  }

  .skills__title {
    margin-block-end: 0.875rem;
  }

  .skills__rings {
    translate: 50% 30%;
  }
}

/* Projects */

.projects__wrapper {
  padding-block: 5rem;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.projects__headline {
  grid-column: 1 / 2;
  margin-block-end: 0;
}

.projects__contact {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
}

.projects__item {
  grid-column: 1 / span 2;
}

.projects__picture {
  margin-block-end: 1.25rem;
}

.projects__image {
  width: 100%;
  height: auto;
  margin-block-end: 1.25rem;
}

.projects__title {
  font-size: 1.5rem;
  line-height: 1.3;
  text-transform: uppercase;
  margin-block-end: 0.4375rem;
}

.projects__tags {
  margin-block-end: 1.25rem;
}

.projects__tags > span {
  margin-inline-end: 1.125rem;
  text-transform: uppercase;
}

.projects__links > a {
  margin-inline-end: 1.875rem;
}

@media (max-width: 21.25em) {
  .projects__grid {
    gap: 1rem;
  }

  .projects__grid > .projects__contact {
    font-size: 0.625rem;
  }

  .projects__picture {
    margin-block-end: 0.75rem;
  }

  .projects__title {
    font-size: var(--fs-18);
  }

  .projects__links {
    margin-block-end: 0.75rem;
  }

  .projects__links > a.underline {
    font-size: 0.75rem;
  }
}

@media (min-width: 37.5em) {
  .projects__wrapper {
    padding-block: 6.25rem 6.5625rem;
  }

  .projects__grid {
    gap: 3.75rem 1.5rem;
  }

  .projects__item {
    grid-column: span 1;
  }
}

@media (min-width: 75em) {
  .projects__wrapper {
    padding-block: 10.5rem 6.9375rem;
  }

  .projects__grid {
    gap: 4.3125rem 1.875rem;
  }

  .projects__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects__item > .projects__picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projects__item > .projects__picture::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .projects__item:hover > .projects__picture::after {
    opacity: 0.5;
  }

  .projects__item:hover > .projects__links {
    opacity: 1;
  }

  .projects__item:focus-within > .projects__links {
    opacity: 1;
  }

  .projects__item:focus-within > .projects__picture::after {
    opacity: 0.5;
  }

  .projects__image {
    margin-block-end: 0;
  }

  .projects__tags {
    margin-block-end: 0;
  }

  .projects__links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .projects__links > a {
    display: block;
    margin-inline-end: 0;
    margin-block-end: 3rem;
    text-align: center;
  }
}

/* Contact */

.contact {
  position: relative;
}

.contact__wrapper {
  display: grid;
  justify-content: center;
  padding-block: 3.75rem 5.4375rem;
}

.contact__text {
  text-align: center;
}

.contact__text,
.contact__form {
  max-width: 27.8125rem;
}

.contact__headline {
  margin-block-end: 1.25rem;
}

.contact__description {
  margin-block-end: 3.125rem;
}

.contact__control > input,
.contact__control > textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--fc-secondary);
  background-color: var(--container);
  font-size: var(--fs-18);
  color: var(--fc-primary);
  padding-block-end: 1rem;
  padding-inline-start: 1.5rem;
  margin-block-end: 2rem;
}

.contact__control > *::placeholder {
  color: var(--fc-primary);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact__control.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact__control > input:focus-within,
.contact__control > textarea:focus-within {
  outline: none;
}

.contact__control > input:focus-visible,
.contact__control > textarea:focus-visible {
  border-bottom: 2px solid var(--accent);
}

.contact__control > input:focus-visible:invalid,
.contact__control > textarea:focus-visible:invalid {
  border-bottom: 2px solid var(--invalid);
}

.contact__control > input + span,
.contact__control > textarea + span {
  position: relative;
}

.contact__control > input + span::before {
  position: absolute;
  right: 0;
  top: 0px;
}

.contact__control > textarea + span::before {
  position: absolute;
  right: 0;
  bottom: 3.125rem;
}

.contact__control > input:focus-visible:invalid + span::before,
.contact__control > textarea:focus-visible:invalid + span::before {
  content: "";
  background-image: url("assets/images/icon-invalid.svg");
  width: var(--fs-24);
  height: var(--fs-24);
}

.contact__rings {
  position: absolute;
  translate: -60% -170%;
}

@media (min-width: 37.5em) {
  .contact__wrapper {
    padding-block-end: 5.75rem;
  }

  .contact__rings {
    translate: -70% -120%;
  }
}

@media (min-width: 75rem) {
  .contact__wrapper {
    padding-block-start: 5.25rem;
    grid-template-columns: repeat(2, 27.8125rem);
    justify-content: space-between;
  }

  .contact__text {
    text-align: left;
  }

  .contact__headline {
    margin-block-end: 2.25rem;
  }

  .contact__rings {
    translate: -35% -120%;
  }
}

/* Footer */
.footer {
  padding-block: 2.4375rem 3.75rem;
}

@media (min-width: 37.5em) {
  .footer {
    padding-block: 1.875rem 2.5rem;
  }
}

@media (min-width: 75rem) {
  .footer {
    padding-block: 2.9375rem 5.75rem;
  }
}
