/* Variables */

:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 85%);
  --accent: hsl(153, 71%, 59%);
  --invalid: hsl(7, 100%, 68%);

  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-18: 1.125rem;

  --transition: 250ms ease-in-out;

  --container: 69.375rem;
}

/* Global */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  font-family: "Space Grotesk", sans-serif;
  font-size: var(--fs-18);
  font-weight: 500;
  line-height: 1.56;
  color: var(--primary);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
}

a {
  transition: color var(--transition);
}

a.underline {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  color: var(--primary);
  text-decoration: solid underline var(--accent) 2px;
  text-underline-offset: 16px;
}

a:hover {
  color: var(--accent);
}

/* Typography */
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: clamp(2.5rem, 0.7rem + 7.69vw, 5.5rem);
}

p {
  font-size: clamp(1rem, 0.8rem + 0.9vw, 1.125rem);
  line-height: 1.5;
  color: var(--secondary);
}

/*  Container */
.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 37.5em) {
  /* 600px */
  h1 {
    letter-spacing: -0.03125em;
  }

  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

@media (min-width: 75em) {
  /* 1000px */
  h1 {
    letter-spacing: -0.0284em;
  }
}

/* Utility */

#main {
  margin-block-end: 500px;
}

.border-line {
  border-bottom: 1px solid var(--secondary);
}

/* Header */
.header {
  position: relative;
  z-index: 1;
  margin-block-start: 1.25rem;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.25rem 1.5625rem;
}

.header__home {
  flex: 1 0 100%;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--primary);
}

.header__home > a {
  color: var(--primary);
  text-decoration: none;
  transition: color var(--transition);
}

.header__home > a:hover {
  color: var(--accent);
}

.header__social svg {
  display: block;
}

.header__social svg path {
  transition: fill var(--transition);
}

.header__social:hover svg path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  /* 600px */
  .header {
    margin-block-start: 1.875rem;
    margin-block-end: 5.625rem;
  }

  .header__nav {
    justify-content: flex-start;
    text-align: left;
    gap: 2rem;
  }

  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }

  .header__social {
    align-self: center;
  }
}

@media (min-width: 75em) {
  /* 600px */
  .header {
    margin-block-start: 2.5rem;
    margin-block-end: 7.9375em;
  }

  .header__nav {
    padding-right: 1.875rem;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Hero */

.hero__wrapper {
  padding-bottom: 5rem;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  display: block;
  width: auto;
  height: 23.9375rem;
}

.hero__rings {
  position: absolute;
  top: 8.125rem;
  right: 50%;
  z-index: -1;
  width: 33.125rem;
  height: auto;
}

.hero__circle {
  position: absolute;
  top: 15.875rem;
  right: 0;
  translate: 50%;
  width: 8.0625rem;
  height: 8.0625rem;
}

.hero__text {
  position: relative;
  text-align: center;
  margin-block-start: 20.9375rem;
}

h1 > span {
  text-decoration: solid underline var(--accent) 4px;
}

.hero__headline {
  margin-block-end: 1.5rem;
}

.hero__headline > br {
  display: none;
}

.hero__description {
  margin-block-end: 1.5rem;
}

.hero__contact {
}

@media (min-width: 37.5em) {
  .hero__wrapper {
    padding-bottom: 3.75rem;
  }

  .hero__image {
    width: auto;
    height: 37.5rem;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero__rings {
    top: 5.3125rem;
    right: 67%;
  }

  .hero__circle {
    top: 29.25rem;
  }

  .hero__text {
    width: 62vw;
    text-align: left;
    margin-block-start: 0;
  }

  .hero__headline {
    margin-block-end: 3.75rem;
  }

  .hero__headline > br:nth-child(1) {
    display: inline-block;
  }

  .hero__headline > br:nth-child(2) {
    display: none;
  }

  .hero__description {
    margin-block-end: 2.125rem;
    width: 70%;
  }
}

@media (min-width: 75em) {
  .hero {
    margin-block-start: 0;
  }

  .hero__wrapper {
    position: relative;
    padding-bottom: 13.6875rem;
  }

  .hero__image {
    translate: 0 -13.4375rem;
    width: auto;
    height: 45rem;
  }

  .hero__rings {
    top: -3.875rem;
    right: 76%;
  }

  .hero__circle {
    top: 20.125rem;
    right: 27.8125rem;
  }

  .hero__headline {
    margin-block-end: 2.6875rem;
  }

  .hero__headline > br:nth-child(1) {
    display: none;
  }

  .hero__headline > br:nth-child(2) {
    display: inline-block;
  }

  .hero__description {
    margin-block-end: 4.125rem;
    width: 38ch;
  }
}

/* Skills */

.skills {
  position: relative;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-block: 2.5rem;
}

.skills__item {
  text-align: center;
}

.skills__title {
  font-size: 2rem;
  font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
  line-height: 1.17;
  margin-block-end: 0.125rem;
}

.skills__description {
  margin-block-end: 0;
}

.skills__rings {
  position: absolute;
  right: 0;
  bottom: 0;
  translate: 60% 35%;
}

@media (min-width: 37.5em) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.25rem 1.5rem;
    border: none;
    padding-block: 3.25rem 0;
  }

  .skills__item {
    text-align: left;
  }

  .skills__title {
    margin-block-end: 0.875rem;
  }

  .skills__rings {
    translate: 65% 50%;
  }
}

@media (min-width: 75em) {
  .skills__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.625rem 1.875rem;
    border: none;
    padding-block-start: 4.5rem;
  }

  .skills__title {
    margin-block-end: 0.875rem;
  }

  .skills__rings {
    translate: 50% 30%;
  }
}
